.container-sub-contacto {
  width: 100%;
  height: 500px;
  background: url("../img/ilustracion4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content-sub-contacto{
  width: 100%;
  height: 100%;
  background: rgba(22, 9, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-sub-contacto h2{
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
}
.content-sub-contacto p{
  color: #fff;
  font-size: 17px;
  margin-bottom: 25px;
  max-width: 500px;
  text-align: center;
}
.content-sub-contacto form{
  width: 100%;
  max-width: 440px;
  display: flex;
}
.content-sub-contacto form .campo{
  width: 100%;
  padding: 15px 15px;
  font-size: 16px;
  border: none;
  border-radius: 3px 0px 0px 3px;
  outline: 0px;
}
.content-sub-contacto form .btn-sub{
  padding: 15px 25px;
  border: none;
  font-size: 16px;
  border-radius: 0px 3px 3px 0px;
  background: #8F584D;
  color: #fff;
  cursor: pointer;
  outline: 0px;
}
.content-sub-contacto form .btn-sub:hover{
  background: #FFE5D0;
  color: #8F584D;
}